[Desktop Entry]
Version=1.0
Name=Power Menu
Comment=rofi power menu
Exec=rofi -show power-menu -modi power-menu:rofi-power-menu
Icon=~/.icons/power-button.svg
Terminal=false
Type=Application
