waypaper/
.directory
misc/.local/share/applications/nemo.desktop
misc/.local/share/applications/mimeinfo.cache
misc/.local/share/applications/wine-extension-chm.desktop
misc/.local/share/applications/wine-extension-hlp.desktop
misc/.local/share/applications/wine-extension-msp.desktop
misc/.local/share/applications/wine-extension-vbs.desktop
misc/.local/share/applications/fedorabox.desktop
misc/.local/share/applications/archbox.desktop
misc/.local/share/applications/ubuntubox.desktop
nvim/.config/nvim/lazy-lock.json
**/theme.*
