[Unit]
Description=Set wallpaper using swww

[Service]
ExecStart=%h/.config/scripts/set-wallpaper.sh
Environment=Display=:1
Environment=WAYLAND_DISPLAY=wayland-1
Environment=XDG_RUNTIME_DIR=/run/user/1000
