/*color import from pywal*/
@import '/home/neeraj/.cache/wal/colors-wlogout.css';

* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(2, 8, 25, 0.8);
}

button {
    border-radius: 30;
    border-color: black;
	text-decoration-color: #FFFFFF;
    color: #FFFFFF;
	background-color: transparent;
	border-style: solid;
	border-width: 0px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20%;
	margin: 5px;
}

button:focus {
	background-color: @color11;
	outline-style: none;
	/*color: @background;*/
	background-size: 22%;
}

button:hover {
	background-color: @color11;
	outline-style: none;
	/*color: @background;*/
	background-size: 24%;
}

#lock {
    background-image: image(url("/home/neeraj/.config/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/home/neeraj/.config/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/home/neeraj/.config/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/home/neeraj/.config/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/home/neeraj/.config/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/home/neeraj/.config/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
